.todo-list {
  margin-top: 20px;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-item p {
  margin: 0;
}

.complete-button,
.delete-button {
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.complete-button {
  color: #28a745;
}

.complete-button:hover {
  color: #218838;
  background-color: rgba(40, 167, 69, 0.1);
}

.delete-button {
  color: #dc3545;
}

.delete-button:hover {
  color: #c82333;
  background-color: rgba(220, 53, 69, 0.1);
}
