.add-todo-form {
    display: flex;
    margin-bottom: 20px;
  }
  
  .add-todo-form input[type="text"] {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
  }
  
  .add-todo-form button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .todo-title {
    text-align-last: center;
  }